---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import AssistantApp from "../components/assistant/AssistantApp.svelte";
---

<DefaultLayout
  subtitle="Create the home of your dreams with AI | Roomake"
  description="Design and visualize your dream home using our AI-powered tool. Transform your ideas into reality effortlessly with Roomake."
>
  <div class="mb-8">
    <AssistantApp client:idle />
  </div>
</DefaultLayout>
